<div class="card recipes-details">
  <div class="img-container">
    <img src="{{ recipe.imagePath }}" class="card-img-top" alt="..." />
  </div>
  <div class="card-body">
    <div class="card-title mb-3">
      <h5>{{ recipe.name }}</h5>
      <div class="btn-group">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Manage Recipe
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
          <li>
            <button class="dropdown-item" (click)="addToShoppingList()">
              To Shopping List
            </button>
          </li>
          <li><button class="dropdown-item" [routerLink]="['/recipes/edit', index]">Edit Recipe</button></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <button class="dropdown-item text-danger" (click)="onDeleteRecipe()">Delete Recipe</button>
          </li>
        </ul>
      </div>
    </div>
    <p class="card-text fs-5">
      {{ recipe.description }}
    </p>
    <hr />
    <h6 class="card-subtitle mb-2 text-muted">
      Ingredients :
      <ng-container *ngFor="let ingredient of recipe.ingredients; let i = index">
        {{ ingredient.name }} ({{ ingredient.amount }}){{
        i < recipe.ingredients.length - 1 ? ', ' : '' }} </ng-container>
    </h6>
  </div>
</div>
