.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.img-container {
  max-height: max(400px, 60vh);
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
