<div class="container">
  <form (submit)="onSubmitForm()" #form="ngForm">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-floating">
          <input type="text" id="ingredient" class="form-control" name="name" placeholder="ingredient" ngModel
            #name="ngModel" required />
          <label for="ingredient" class="text-success" style="font-weight: bold;">Ingredient</label>
        </div>
        <p class="error" *ngIf="name.invalid && name.touched">* the name field cannot be empty</p>
      </div>

      <div class="col-sm-4">
        <div class="form-floating">
          <input type="number" id="amount" class="form-control" name="amount" placeholder="amount" min="1" ngModel
            required #amount="ngModel" />
          <label for="amount" class="text-success" style="font-weight: bold;">Amount</label>
        </div>
        <p class="error" *ngIf="amount.invalid && amount.touched">
          <span *ngIf="amount.errors['required']">* the amount field cannot be empty </span>
          <span *ngIf="amount.errors['min']">* the amount should be bigger than 1 </span>
        </p>
      </div>
    </div>
    <div class="btngroup" *ngIf="form.valid">
      <button type="submit" class="btn btn-outline-success"> {{editMode ? 'Edit': 'Add'}} </button>
      <button type="button" class="btn btn-outline-primary" (click)="onResetForm()">Clear</button>
      <button type="button" class="btn btn-outline-danger" *ngIf="editMode" (click)="deleteIngredient()">Delete</button>
    </div>
    <p class="error big" *ngIf="form.invalid">Please complete the form</p>
  </form>
</div>
<br />
