.full-width-list {
  max-width: min(90%, 740px);
  margin: 0 auto;
}

.recipes-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

.recipes-list {
  flex: 1 0 40%;
}

@media screen and (max-width: 520px) {
  .recipes-container {
    flex-direction: column;
  }

  #main {
    /* margin-left: 216px; */
  }
}
